body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 10px;
}

.MuiIcon-fontSizeInherit{
  font-size: inherit;
}

.login-form{
  align-items: center;
  height: 15em;
  width: 20em;
  margin: auto;
  justify-content: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
}

.activated-heart :first-child{
    color: red;
}

.login-header{
  font-family: "Rubik black";
  color: white;
  padding-top: 30px;
  align-items: center;
  text-align: center;
  font-size: 40px;
}

.LoginPage{
  background-color: rgb(62, 181, 78);
  height: 700px;
}

.footer{
  position:relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-css{
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbarContainer{
  display: flex;
  height: 3em;
}

.nav-button { 
  margin-left: 20px;
  height: 70%;
  padding: 6px 10px;
  margin: 4px;
  align-items: center;
}

.centered {
  justify-content: center;
  align-items: center;
  height: 3em;
  padding: 5px;
}

.nav-link{
  display: inline-block;
}

#userNav{
  justify-content: end;
  width: 60em;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

/* #userNav :last-child{
      font-size: 80px;
} */

#userNavCartContainer{
  font-size: 40px;
}

.heading-container{
  display: flex;
}

.profile-heading{
  padding-left: 30px;
}

.profileContainer{
  margin: 70px;
}

#userNavCartContainer :first-child{
  font-size: inherit;
}

.nav-item{
padding: 20px;
}

.one-item-card{
  background-color: white;
  width: 20em;
  height: 40em;
  line-height: 1;
  border: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 2em;
}

.pointer-events{
  pointer-events: none;
}

.item-middle-header{
  align-items: center;
  text-align: center;
  justify-content: center;
}

.item-card-user-button-name {
  display: flex;
  align-items: center;
}

.item-card-image{
  width:18em;
  height: 100%;
  max-height: 25em;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  margin: auto;
  /* border-top: 1px solid black; */
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
}

.item-price{
  display: flex;
  padding-left: 1em;
  align-items: center;
}

.details-btn{
  padding: 5px;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.item-header-icons{
  display: flex;
  color: rgb(255, 255, 255);
}

.item-card-button {
  display: flex;
  padding-right: .2em;
  padding-left: .3em;
}

.item-card-bottom{
  /* margin-top: 10px; */
  padding-top: 10px;
  line-height: .3;
}

.item-card-flex-price-buybutton{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-card-buy-button{
  padding-left: 5em;
}

.items-grid{
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 2em 1em;
}

#profileIcon{
  font-size: 80px;
  font-weight: light;
}

#profileIcon :first-child{
  font-size: inherit;
}

.grid-container{
  padding: 25px;
}

.search{
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

.buy-btn{
  padding: 6px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 1px rgb(0, 0, 0);
}

.item-card-header{
  border-bottom: 1px solid black;
  padding: 10px;
  background-color: rgb(0, 0, 0);
}

/* shopping cart CSS starts here: */
main.cart-page {
  padding: 10px;
}

.cart-page>h1 {
  text-align: center;
}

.cart-page .total-cost {
  text-align: right;
  font-size: 1.3em;
}

.cart-page div.order-button {
  display: flex;
  justify-content: center;
}

/* div.order-button>button {
  border-color: var(--black);
  cursor: pointer;
  padding: 15px;
  transition: all .2s ease-in-out;
}

div.order-button>button:focus {
  outline: none;
}

div.order-button>button:disabled {
  border-color: lightgray;
} */

.ri-delete-bin-line,
.ri-delete-bin-fill {
  font-size: 1.3em;
  cursor: pointer;
}

.cart {
  color: var(--blue);
  font-size: 1.2rem;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}