body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 10px;
}

.MuiIcon-fontSizeInherit{
  font-size: inherit;
}

.login-form{
  align-items: center;
  justify-content: center;
  height: 25em;
  width: 40em;
  margin: auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.activated-heart :first-child{
    color: red;
}

.login-btn{
  align-items: center;
  /* display: flex; */
  text-align: center;
  justify-content: center;
  margin-top: 40px;
}

.login-header{
  font-family: "Rubik black";
  align-items: center;
  text-align: center;
  font-size: 30px;
  justify-content: center;
}

.LoginPage{
  /* background-image: url("../public/cube-login.png"); */
  background-repeat: repeat-x;
  background-size: contain;
  background-color: white;
  height: 900px;
  align-items: center;
  padding-top: 50px;
}

.footer{
  position:relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes rotate {
  0% {
    transform: spin right (0deg);
  }

100% {
    transform: rotate(359deg);
  }
}

.homepage-image-bottom {
  /* position: absolute; */
  animation: spin 0.5s forwards;
  animation-delay: 2s;
}

.card-title{
  font-size: 24px;
  font-weight: bold;
  margin-left: 7px;
}

.card-description{
  margin-left: 7px;
}

.card-button{
  padding: 10px;
  background-color: green;
  align-items: center;
  border-radius: 15px;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  color: white;
  border: 1px solid white;
  margin-bottom: 10px;
}

.homepage-image-top {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: 2;
}

.homepage-image-middle{
    animation-name: rotate;
    animation-direction: reverse;
    animation-duration: 2s;
    animation-iteration-count: 2;
}
/* .login-image{
  animation: rotate 3s;
  padding: 40px;
  position: absolute;
  top: 10; 
} */

.navbar-css{
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbarContainer{
  display: flex;
  height: 7em;
  background-color: white;
}

.mbsc-ios .mbsc-form-grid .mbsc-textfield-wrapper {
  margin: 0.75em 1em;
}

body {
  background: #f4f4f4;
}

.banner {
  background: #a770ef;
  background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
}


.nav-button { 
  margin-left: 20px;
  height: 70%;
  padding: 6px 10px;
  margin: 4px;
  align-items: center;
  text-decoration-line: none;
}

a{
  text-decoration: none;
  color: black;
}

input.form-control{
  height: 25px;
  width: 200px;
  font-family: 'Rubik', sans-serif;  
}

label.form-control{
  font-family: 'Rubik', sans-serif;  font-family: 'Roboto Condensed', sans-serif;
}


.navbutton{
  padding: 2px 5px;
  border: 2px solid black;
  margin: 4px;
  text-decoration-line: none;
}

.centered {
  justify-content: center;
  align-items: center;
  height: 3em;
  padding: 5px;
}

.nav-link{
  display: inline-block;
}

#userNav{
  justify-content: end;
  width: 60em;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

/* #userNav :last-child{
      font-size: 80px;
} */

#userNavCartContainer{
  font-size: 40px;
}

.heading-container{
  display: flex;
}

.profile-heading{
  padding-left: 30px;
}

.profileContainer{
  margin: 70px;
}

#userNavCartContainer :first-child{
  font-size: inherit;
}

.nav-item{
padding: 20px;
}

.one-item-card{
  background-color: white;
  width: 20em;
  height: 40em;
  line-height: 1;
  border: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 2em;
}

.pointer-events{
  pointer-events: none;
}

.item-middle-header{
  align-items: center;
  text-align: center;
  justify-content: center;
}

.item-card-user-button-name {
  display: flex;
  align-items: center;
}

.item-card-image{
  width:18em;
  height: 100%;
  max-height: 25em;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  margin: auto;
  /* border-top: 1px solid black; */
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
}

.item-price{
  display: flex;
  padding-left: 1em;
  align-items: center;
}

.details-btn{
  padding: 5px;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.item-header-icons{
  display: flex;
  color: rgb(255, 255, 255);
}

.item-card-button {
  display: flex;
  padding-right: .2em;
  padding-left: .3em;
}

.item-card-bottom{
  /* margin-top: 10px; */
  padding-top: 10px;
  line-height: .3;
}

.item-card-flex-price-buybutton{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-card-buy-button{
  padding-left: 5em;
}

.items-grid{
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 2em 1em;
}

#profileIcon{
  font-size: 80px;
  font-weight: light;
}

#profileIcon :first-child{
  font-size: inherit;
}

.grid-container{
  padding: 25px;
}

.search{
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

.buy-btn{
  padding: 6px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 1px rgb(0, 0, 0);
}

.item-card-header{
  border-bottom: 1px solid black;
  padding: 10px;
  background-color: rgb(0, 0, 0);
}

/* shopping cart CSS starts here: */
main.cart-page {
  padding: 10px;
}

.cart-page>h1 {
  text-align: center;
}

.cart-page .total-cost {
  text-align: right;
  font-size: 1.3em;
}

.cart-page div.order-button {
  display: flex;
  justify-content: center;
}

/* div.order-button>button {
  border-color: var(--black);
  cursor: pointer;
  padding: 15px;
  transition: all .2s ease-in-out;
}

div.order-button>button:focus {
  outline: none;
}

div.order-button>button:disabled {
  border-color: lightgray;
} */

.ri-delete-bin-line,
.ri-delete-bin-fill {
  font-size: 1.3em;
  cursor: pointer;
}

.cart {
  color: var(--blue);
  font-size: 1.2rem;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.asideclass {
  position: fixed;
  z-index: 50;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

.modal-square {
  position: relative;
  width: 350px;
  height: 170px;
  background-color: white;
  border: 3px solid green;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.modal-blurb {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
}

.modal-button {
  width: 200px;
  height: 30px;
  font-size: 12px;
  background-color: green;
  color: white;
  border-radius: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.be-seethru {
  position: fixed;
  background-color: rgba(0, 0, 0, .6);
  z-index: 30;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hide{
  display: hidden;
}

#item-form{
  margin-top: 30px;
  float: left;
}

#item-preview{
    margin-top: 30px;
    float: right;
}

.item-preview-container{
  border: 1px solid black;
  padding: 20px;
}

.new-plant-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: white;
  border: 1px solid black;
}

.new-plant-form form {
  display: flex;
  justify-content: center;
}

.new-plant-form input {
  margin-right: 2rem;
  flex: 1;
}

.new-plant-form button {
  width: 150px;
}

.cards {
  list-style: none;
}

.card {
  margin: 1rem;
}

.card img {
  width: 100%;
}

.card button {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}

.card-container{
  border: 1px solid black;
  border-radius: 15px;
}

img{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}